body {
  background-image: url('startbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 60px;
}
